<a href="https://colab.research.google.com/github/heispv/programming-feb2023/blob/master/23_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Yek soal az ma porside mishe
2. bayad javad bedim be oon soal
3. agar dorost bood ke barname ghat shode va be ma payam javabe dorost namayesh dade mishe
4. agar ghalat bood dobare soal ro hamrah ba javab ha neshoon mide va az ma mikhad ke javab ro vared konim

In [ ]:
javab = input('Kudum zabane barname nevisi mahboob tarin zaban mibashad: ')
javab = javab.lower()
javab = javab.capitalize()

if javab == 'Python':
  print('Your answer is correct.')
else:
  print('Your answer is not correct.\nThe correct answer was Python')

Kudum zabane barname nevisi mahboob tarin zaban mibashad: python
Your answer is correct.

In [ ]:
while True:

  javab = input('Kudum zabane barname nevisi mahboob tarin zaban mibashad: ')

  if javab == 'python':
    print('Your answer is correct.')
    break
  else:
    print('Your answer is not correct.\nTry again...\n')

Kudum zabane barname nevisi mahboob tarin zaban mibashad: C
Your answer is not correct.
Try again...

Kudum zabane barname nevisi mahboob tarin zaban mibashad: C#
Your answer is not correct.
Try again...

Kudum zabane barname nevisi mahboob tarin zaban mibashad: python
Your answer is correct.

In [ ]:
print('hello and bye:\t123')

hello and bye:	123

In [ ]:
print('hello and\nbye')

hello and
bye

In [ ]:
a = 5

while a < 10:
  print(a)
  a = a + 1

5
6
7
8
9

In [ ]:
while True:
  ans = input('Adad ro vared kon: ')
  print(ans)
  if int(ans) == 10:
    print('10 ro vared kardi :)')
    break

Adad ro vared kon: 5
5
Adad ro vared kon: 256
256
Adad ro vared kon: 10
10
10 ro vared kardi :)

In [ ]:
ans

'10'

In [ ]:
type(ans)

str

In [ ]:
int(ans) == 10

True

In [ ]:
my_list =

In [ ]:
my_list

['Hulu', 'sib', 'hendoone']

In [ ]:
print(type(['Hulu']))
print(type(('mive', 'daftar')))
print(type({'name': 'John'}))
print(type(5))
print(type(3.2))
print(type(True))
print(type(None))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
my_list = [1, 2, 3]
my_list.append('new num')

In [ ]:
my_list

[1, 2, 3, 'new num']

In [ ]:
my_num = 5
my_num.append('new num')

AttributeError: ignored

In [ ]:
esm = 'Lara'

In [ ]:
esm.append(5)

AttributeError: ignored

In [ ]:
esm.upper()

'LARA'